<br><br>

<div class="text-center m-5">

<h1>Gracias por contactarte con nosotros, en breve un sensei del dojo se comunicara con vos.</h1>
<ul style: "list-style-type: none"><h3>{{ nombre }}</h3></ul>
<ul style: "list-style-type: none"><h3>{{ email }}</h3></>


<h3>
    <a href="/">Volver al inicio</a>
</h3>

</div>