<main>
<br>
<br>
<br>
<br>

<article>
    <hr>
  <h2>Sensei John Kreese</h2>
    <hr>
  <div style="display: flex;">
    <img src="../images/John_Kreese_Young.webp" alt="" class="foto__equipo">

    <p style="justify-content: left; font-size: 2em; padding: 25px 25px 25px 25px">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic nisi eveniet doloremque ipsa dicta! Porro non nam nostrum, aspernatur dolor sequi asperiores itaque adipisci, repudiandae fuga incidunt vero deserunt iste.
    Alias fuga rerum, animi expedita ident dolor architecto perspiciatis dicta, voluptate sapiente laudantium iusto impedit nemo explicabo vel illo officiis quis tempora. Excepturi ab vitae iure tenetur quia natus, non sed?</p>
  </div>
</article>



<article>
    <hr>
  <h2>Sensei Terry Silver</h2>
    <hr>
  <div style="display: flex;">
    <img src="../images/silver.jpg" alt="" class="foto__equipo">

    <p style="justify-content: left; font-size: 2em; padding: 25px 25px 25px 25px">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic nisi eveniet doloremque ipsa dicta! Porro non nam nostrum, aspernatur dolor sequi asperiores itaque adipisci, repudiandae fuga incidunt vero deserunt iste.
    Alias fuga rerum, animi expedita ident dolor architecto perspiciatis dicta, voluptate sapiente laudantium iusto impedit nemo explicabo vel illo officiis quis tempora. Excepturi ab vitae iure tenetur quia natus, non sed?</p>
  </div>
</article>



<article>
    <hr>
  <h2>Sensei Johnny Lawrence</h2>
    <hr>
  <div style="display: flex;">
    <img src="../images/johnny.jpg" alt="" class="foto__equipo">

    <p style="justify-content: left; font-size: 2em; padding: 25px 25px 25px 25px">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic nisi eveniet doloremque ipsa dicta! Porro non nam nostrum, aspernatur dolor sequi asperiores itaque adipisci, repudiandae fuga incidunt vero deserunt iste.
    Alias fuga rerum, animi expedita ident dolor architecto perspiciatis dicta, voluptate sapiente laudantium iusto impedit nemo explicabo vel illo officiis quis tempora. Excepturi ab vitae iure tenetur quia natus, non sed?</p>
  </div>
</article>



<br>
<br>
<br>
<br>
</main>